
{% for parent in parents.names%}
{% set mybgcolor = parents.bgcolors[loop.index0] %}
<!-- TITULO DE LA CATEGORIA -->
<div class="row" style=' margin:2ex 1ex 0em 0em; padding: 0ex 1em;display:block'>    
    <div class='myh2' style='display:block'>
    <div  style='border-style: solid;border-color:{{mybgcolor}};color:black;text-align:center;padding:0.5em;page-break-before:always;'>
    {{parent.upper() }}
    </div>    
  </div>
</div>

  <div class="row">
{% set ns=namespace(oldchild='') %}
{% for article in catalog %}	 
{% if parent in article.parent   %}     <!-- article.status == 'publish' and 'outofstock' not in article.visibility -->
  {% if ns.oldchild != article.child %}
  {% if ns.oldchild != ''%}
  </div>
  <div class="row" >
  {% endif %}

   <div class='myh3' style='border-style: solid;border-color:{{mybgcolor}};padding:0.5em;text-align:center;color:black;display:block'> 
      {{article.child.upper()}}
    </div>
  {% set ns.oldchild=article.child %}
  {% endif %}

<div class="col" style="padding:0.3em;display:block">
<a name="{{article.title}}"></a>
<div class="card h-100 no-break"  id="id-{{parent}}/{{article.title}}" style='border-style: solid;border-color:{{mybgcolor}};'>
  <h3 class="card-header" style="border-style: solid;border-color:{{mybgcolor}};color:black; min-height:6ex; ">   
      {{article.title}} 
  </h3> 
<div style="margin-bottom:-0.8em;padding:0em 0.4em">
  <span style="float:left;">
    {{article.size}}
  </span>
  <span style="float:right;">${{article.price}}</span>
</div>
  <div style="text-align: center">
  <img class="rounded-circle myimg no-break" src="{{article.images.split('|')[0]}}" alt="" style="height:auto;margin-bottom:0px;  cursor: pointer;" onclick="addToCart('{{parent}}/{{article.title}}-cant');return false;">
  </div>

  
  <p style="padding-top:0em; text-align:center">
    {{article.excerpt}}
  </p>


</div> <!--  close card-->
</div>
{% endif %}
{% endfor %}

</div> <!-- close row -->

{% endfor%}

{#

 	{% for key,val in product.items() %}
		{% if key=='categorias' %}
		{{val}}
		{% endif %}
	{% endfor %}
#}