{% extends "base_buttons.html" %}

{% block style%}
{% include 'buttons.css' %}

<style>

.grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.no-break {
  page-break-inside: avoid;
}

.pdfimg{
width:100px;
}
</style>
{% endblock style%}


{% block content %}
<body>
<a name="top"></a>

{#
{% include 'header.html' %}
#}

{% include 'buttons.pdf.html' %} 

</body>


{% endblock content %}

{% block scripts%}

{% endblock scripts %}