{% set thisid='/detail.'~article.id %}

<h3 class="card-header narrow-screen" style="background-color:{{mybgcolor}};color:black; min-height:6ex ;cursor: pointer;" onclick="expandCard('{{thisid}}-narrow-screen','details');return false; ">   
      {{article.Nombre}} 
      <span style='color:grey'>{{article.Apellido}}</span>
  </h3> 

  <h3 class="card-header wide-screen" style="background-color:{{mybgcolor}};color:black; min-height:6ex ;cursor: pointer;" onclick="expandCard('{{thisid}}-wide-screen','details');return false; ">   
      {{article.Nombre}} 
      <span style='color:grey'>{{article.Apellido}}</span>
  </h3> 

<div style="margin-bottom:-0.8em;padding:0em 0.4em">
  <span style="float:left;">
    {{article.size|safe}}
  </span>
  <span style="float:right;">${{article.price}}</span>
</div>


  <div style="text-align: center">
  <img class="rounded-circle myimg" 
  src="{{xx.IMG_DIR_PRODUCTS}}{{article.images.split('|')[0]}}" 
  alt="" style="height:auto;margin-bottom:0px;  cursor: pointer;" onclick="addToCart('{{parent}}/{{article.id}}-cant');return false;">
  </div>

{% if 'outofstock' not in article.visibility%}
    {% include 'quiero.html' %}
{%else%}
  <p style="padding:0em 1em; text-align:center;font-size:smaller">
    AGOTADO
  </p>

{% endif %}
  
  <p style="padding:0em 1em; text-align:center;font-size:smaller">
    {{article.excerpt|safe}}
  </p>
