    <button  class="quiero" style="padding-left:0.3em;font-weight: bolder;font-size:1em;height:1.5ex;width:1em" onclick="addToCart('{{parent}}/{{article.title}}-cant');return false;">+
    </button>



    

    
    <div class="row">
      <div class="col-12">
<div class="input-group mb-3">
          <span class="input-group-prepend">
              <button style="display: inline-block;" onclick="removeFromCart('{{parent}}/{{article.title}}-cant');return false;">
                  <span >-</span>

              </button>
          </span>

          <!-- <input type="text" name="quant[1]" class="form-control input-number" value="0" min="0" > -->
 <input type="number" id="{{parent}}/{{article.title}}-cant" class="cantidad" name="{{parent}}/{{article.title}}" style="width:2em;font-size:1.5em;" value="0" min="0" placeholder="0" form="myform">
    <input type="hidden" id="{{parent}}/{{article.title}}-price" class="price" name="{{parent}}/{{article.title}}" value="{{article.price}}" form="myform">

          <span class="input-group-append">
              <button  onclick="addToCart('{{parent}}/{{article.title}}-cant');return false;">
                  <span >+</span>
              </button>
          </span>
        </div>
      </div>
  </div>
